<html>
    <head>
        <title>##title##</title>
        <link rel="shortcut icon" href="/webroot/images/favicon.ico" />
        <link href="/webroot/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/webroot/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/"><img class="img-responsive" width="15" height="15" alt="" src="/webroot/images/favicon.png" /> VHC: Versatile Html CMS</a>
            <ul class="nav">
                <li><a href="?=it_home_page">Italiano</a></li>
            </ul>
        </div>
    </div>